[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Aaron Brewbaker
	email = aaron.brewbaker@jet.com
[winUpdater]
	recentlySeenVersion = 2.19.1.windows.1
[core]
	editor = code --wait
	autocrlf = true
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
        tool = vscode
[mergetool "vscode"]
        cmd = code --wait $MERGED
[alias]
	aa=add --all
	ai=add -i
	ap=add -p
	br=branch
	brm=branch --merged
	brnm=branch --no-merged
	ca=commit --amend
	cam=commit -am
	co=checkout
	cob=checkout -b
	di=diff
	dlc=diff --cached HEAD^
	div=merge-base head
	ds=diff --staged
	fa=fetch -v --all --prune
	la=!git config -l | grep alias | cut -c 7- | sort
	lg1=!git lg --first-parent
	lg=log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	lga=log --graph --all --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	logp=log --all --graph --oneline --decorate
	logsummerge=log -m --first-parent
	mg=merge --no-ff --log
	rba=rebase --abort
	rbc=rebase --continue
	rbi=rebase -i
	recent=log --all --author=brewbaker --since='3 days ago'
	r = reset
	r1 = reset HEAD^
	r2 = reset HEAD^^
	rh = reset --hard
	rh1 = reset HEAD^ --hard
	rh2 = reset HEAD^^ --hard
	shn=show HEAD --numstat
	st=status
	sup=log HEAD..FETCH_HEAD
	up=merge --ff-only
[credential]
	helper = manager
[hub]
	protocol = https
